@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* contrast 효과 비활성화 */
  color-adjust: exact;
  forced-color-adjust: none;
  print-color-adjust: exact;
}

/* Tailwind 그림자 효과 비활성화 */
.shadow {
  --tw-shadow: none !important;
  --tw-shadow-colored: none !important;
  box-shadow: none !important;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective: 1000px;
}
